{% assign lang = site.locale | slice: 0,2 | default: "en" %}
{% case lang %}
{% when "gr" %}
  {% assign lang = "gr" %}
{% else %}
  {% assign lang = "en" %}
{% endcase %}
<script src="{% include versioned-asset-url.html url='/assets/js/lunr/lunr.min.js' %}"></script>
<script src="{% include versioned-asset-url.html url='/assets/js/lunr/lunr-store.js' %}"></script>
{% assign lunr_lang_script = '/assets/js/lunr/lunr-' | append: lang | append: '.js' %}
<script src="{% include versioned-asset-url.html url=lunr_lang_script %}"></script>
