  <!-- added by me -->
  <div id="thm_badge" class="thm_margin" onClick="location.href='https://tryhackme.com/p/Chamrosh17'">
    <div style="width: auto; border-radius: 4px; margin-right: 0px">
      <div class="thm_avatar" style="background-image: url(https://tryhackme-images.s3.amazonaws.com/user-avatars/5ff087126ffc3b68bf754d89-1704949048911)"></div>
    </div>
    <div
      style="
        margin-left: 25px;
        width: 220px;
        height: 56px;
        background-color: #343c42;
        border-radius: 5px;
        text-align: left;
        background-image: url({{ '/assets/icons/bio/tryhackme.svg' | relative_url }});
        background-size: 23px 23px;
        background-position: right 5px bottom 5px;
        background-repeat: no-repeat;
      "
    >
      <div
        class="thm_font"
        style="
          box-sizing: content-box;
          height: 50px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 8px;
          padding-top: 5px;
        "
      >
        <p class="thm_line" style="margin-bottom: 3px">
          <span class="thm_nickname">Chamrosh17</span> <span class="thm_rank">[0x8][Hacker]</span
          ><br />
        </p>
        <p class="thm_line" style="margin-bottom: 1px; display: flex; align-items: center">
          <img
            class="thm_icon thm_mr"
            src="https://assets.tryhackme.com/img/badges/trophy.png"
            alt="trophy"
          />
          <span class="thm_stat thm_mr">96439</span>
          <img
            class="thm_icon thm_mr"
            src="https://assets.tryhackme.com/img/badges/door.png"
            alt="door"
          />
          <span class="thm_stat thm_mr">47</span>
          <img
            class="thm_icon thm_mr"
            src="https://assets.tryhackme.com/img/badges/target.png"
            alt="target"
          />
          <span class="thm_stat">8</span><br />
        </p>
        <p class="thm_line">
          <a href="https://www.tryhackme.com" class="thm_link">tryhackme.com</a>
        </p>
      </div>
    </div>
  </div>
  
  <!-- Javascript to get current URL and append to our server -->  
  <!-- added by me -->
