<a id="thm_badge" class="thm_margin" href="https://tryhackme.com/p/Chamrosh17" rel="nofollow noopener noreferrer" aria-label="Chamrosh17 TryHackMe profile">
  <img
    class="thm_avatar"
    src="{{ '/assets/icons/bio/tryhackme-badge-avatar.svg' | relative_url }}"
    alt=""
    width="56"
    height="56"
  />
  <span class="thm_panel">
    <span class="thm_font">
      <span class="thm_line thm_identity">
        <span class="thm_nickname">Chamrosh17</span>
        <span class="thm_rank">[0x8][Hacker]</span>
      </span>
      <span class="thm_line thm_stats">
        <span class="thm_stat-item">
          <img class="thm_icon" src="{{ '/assets/icons/bio/tryhackme-stat-trophy.svg' | relative_url }}" alt="" width="16" height="16" />
          <span class="thm_stat">96439</span>
        </span>
        <span class="thm_stat-item">
          <img class="thm_icon" src="{{ '/assets/icons/bio/tryhackme-stat-room.svg' | relative_url }}" alt="" width="16" height="16" />
          <span class="thm_stat">47</span>
        </span>
        <span class="thm_stat-item">
          <img class="thm_icon" src="{{ '/assets/icons/bio/tryhackme-stat-target.svg' | relative_url }}" alt="" width="16" height="16" />
          <span class="thm_stat">8</span>
        </span>
      </span>
    </span>
  </span>
</a>
