<div>
  <img
    style="margin: auto; display: block;"
    alt="Stay in touch with MohammadMahdi Javid"
    src="/assets/images/keep-in-touch.jpg" />
</div>

<ul>
  <li><a href="http://www.linkedin.com/in/mohammadmahdijavid/">Linkedin</a></li>
  <li><a href="http://scholar.google.com/citations?user=ruUtSOgAAAAJ&amp;hl=en">Google Scholar</a></li>
  <li><a href="http://www.datacamp.com/profile/mahdijavid1380">DataCamp</a></li>
  <li><a href="http://www.coursera.org/user/8f433bca8bdb9a4058f8e245a4a52750">Coursera</a></li>
  <li><a href="http://hackerrank.com/mahdijavid1380">HackerRank</a></li>
  <li><a href="http://mohammadmahdijavid.ir/">My Personal Website</a></li>
  <li><a href="http://github.com/mohammadmahdijavid">GitHub</a></li>
  <li><a href="http://courses.nvidia.com/in/mohammadmahdijavid/">NVIDIA</a></li>
  <li><a href="http://learn.acloud.guru/profile/mohammadmahdijavid">A Cloud Guru</a></li>
  <li><a href="http://orcid.org/0000-0002-8447-7513">ORCID</a></li>
  <li><a href="http://researchgate.net/profile/Mohammadmahdi-Javid">RG</a></li>
  <li><a href="http://twitter.com/mahdijavid1380">Twitter</a></li>
  <li><a href="http://dev.to/mohammadmahdijavid">DEV Community</a></li>
  <li><a href="http://stackoverflow.com/users/19659244/mohammadmahdi-javid">Stack Overflow</a></li>
  <li><a href="http://xing.com/profile/MohammadMahdi_Javid">XING</a></li>
  <li><a href="http://holopin.io/@mohammadmahdijavid">Holopin</a></li>
  <li><a href="http://openprofile.dev/profile/mohammadmahdijavid">Linux Foundation</a></li>
  <li><a href="https://addons.mozilla.org/en-US/firefox/user/18052570/">Moz Addons</a></li>
</ul>
